@charset "UTF-8";

/* logo img size */
.logo img{
    width:80px;
}
/* adds img background covers everything */
body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

#circle{
    width: 450px; 
    height: 450px;
}