@charset "UTF-8";

/* logo img size */
.logo img{
    width:80px;
}
/* adds img background covers everything */
body{
    background-color: rgb(51, 32, 70);
    background-size: cover;
    background-size: 100%;
    color: aliceblue;
}

#circle{
    width: 450px; 
    height: 450px;
}
