@charset "UTF-8";

@font-face {
    font-family: 'Bubbles';
    src: url("../Rubik_Bubbles/RubikBubbles-Regular.ttf");
}

@font-face {
    font-family: 'Gem';
    src: url("../Rubik_Gemstones/RubikGemstones-Regular.ttf");
}

@font-face {
    font-family: 'Puddles';
    src: url("../Rubik_Puddles/RubikPuddles-Regular.ttf");
}

.background{
    background-image: url("../images/assignment2_pizzaform_asset2.png");
    background-size: cover;
    color: rgb(27, 30, 243);
    overflow: hidden;
    background-size: 100%;
}

#menupageone{
    background-image: url("../images/assignment2_pizzaform_asset3.png");
    background-size: contain; 
}

#menupagetwo{
    background-image: url("../images/assignment2_pizzaform_asset1.png");
    background-size: contain;
} 

#menupagethree{
    background-image: url("../images/assignment2_pizzaform_asset1.png");
    background-size: contain;   
}

.menu-container{
    display:flex;
    justify-content:center;  
}

.menupageonesize,
.menupagetwosize,
.menupagethreesize{

    width:700px;
    height:900px;

    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;

    position:relative;
}

.textplacetwo{
    text-align: center;
    padding-top: 320px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 11px;
    color: rgb(46, 43, 45);
    font-weight: bold;
}

.textplaceone{
    text-align: left;
    padding-top: 605px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14px;
    /* color: rgb(117, 80, 112); */
    /* color: rgb(163, 90, 160); */
    color: rgb(65, 127, 243);
    font-family: 'Gem', sans-serif;
}

.textplacethree{
    text-align: center;
    padding-top: 340px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 11px;
    color: rgb(46, 43, 45);
    font-weight: bold;
}

.textplacetwo label{
    display: flex;
    align-items: center;
    width: 140px;
    margin: 8px auto;
    text-align: left;
    padding-left: 35px;
}

.textplacethree label{
    display: flex;
    align-items: center;
    width: 140px;
    margin: 8px auto;
    text-align: left;
    padding-left: 33px;
}

.textplacethree button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textplacetwo input{
    margin-right: 6px;
}

.textplacethree input{
    margin-right: 6px;
}

.textplacetwo label{
    display: block;
    margin-bottom: 8px;
}

footer{
    text-align: center;
    font-family: 'Bubbles', sans-serif;
    color: rgb(196, 90, 160);
}

.texttitle{
    font-size: 18px;
    text-align: center;
    font-family: 'Bubbles', sans-serif;
    color: rgb(196, 90, 160);
}

.textsubtitle{
    font-size: 14px;
    text-align: left;
    font-family: 'Gem', sans-serif;
    color: rgb(196, 90, 160);
}