@charset "UTF-8";

.background{
    background-image: url("../images/assignment2_pizzaform_asset2.png");
    background-size: cover;
    color: rgb(27, 30, 243);
    overflow: hidden;
    background-size: 100%;
}

#menupageone{
    background-image: url("../images/assignment2_pizzaform_asset3.png");
    background-size: contain; 
}

#menupagetwo{
    background-image: url("../images/assignment2_pizzaform_asset1.png");
    background-size: contain;
} 

#menupagethree{
    background-image: url("../images/assignment2_pizzaform_asset1.png");
    background-size: contain;   
}

.menu-container{
    display:flex;
    justify-content:center;  
}


.menupageonesize,
.menupagetwosize,
.menupagethreesize{

    width:700px;
    height:900px;

    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;

    position:relative;
}

.textplacetwo{
    text-align: center;
    padding-top: 300px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 11px;
}

.textplaceone{
    text-align: left;
    padding-top: 605px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14px;
}

.textplacethree{
    text-align: center;
    padding-top: 350px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 11px;
    
}

/* .textplacethree label{
    display: block;
    margin-bottom: 8px;
} */

.textplacetwo label{
    display: flex;
    align-items: center;
    width: 140px;
    margin: 8px auto;
    text-align: left;
    padding-left: 35px;
}

.textplacethree label{
    display: flex;
    align-items: center;
    width: 140px;
    margin: 8px auto;
    text-align: left;
    padding-left: 33px;
}

.textplacethree button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textplacetwo input{
    margin-right: 10px;
}

.textplacethree input{
    margin-right: 10px;
}

.textplacetwo label{
    display: block;
    margin-bottom: 8px;
}

footer{
    text-align: center;
}

.texttitle{
    font-size: 18px;
    text-align: center;
}

.textsubtitle{
    font-size: 14px;
    text-align: left;
}